<!-- About Section -->
<section class="aboutSection" id="about">
    <div class="container">
        <div class="row">
            <div class="about-title">
              <h2>About Me</h2>
            </div>
        </div>
        <div class="row">
            <div class="about-content">
                <div class="row">
                    <div class="about-text">
                       <h3>I'm Sarthak Mokashi and I'm a <span>B.E IT Graduate</span></h3>
                       <p>Hi! My name is Sarthak Mokashi. I am a B.E IT Graduate. I completed my Bachelors from AISSMS IOIT,Pune
                           with an overall CGPA of 7.06. During my academics I learnt technologies such as Java , MySQL , JavaScript
                           & Angular which helped me enrich my skill-set and made me Industry ready candidate.
                       </p>
                    </div>
                </div>
                <div class="row">
                    <div class="personal-info">
                        Personal-info
                    </div>
                    <div class="skills">
                        Skills
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End of About Section -->

<!-- ---------------------------------------------------------------------------- -->

<div class="row">
    <div class="info-item">
        <p>Birthday : <span>1 May 1998</span></p>
    </div>
    <div class="info-item">
        <p>Age : <span>22</span></p>
    </div>
    <div class="info-item">
        <p>Email : <span>sarthakmokashi41@gmail.com</span></p>
    </div>
    <div class="info-item">
        <p>Degree : <span>B.E IT</span></p>
    </div>
    <div class="info-item">
        <p>Phone : <span>+91 9922226089</span></p>
    </div>
    <div class="info-item">
        <p>City : <span>Pimpri-Chinchwad, Pune</span></p>
    </div>
</div>